.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
    text-align: center;
}

.card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
    background-color: rgb(248, 249, 250);
}

.card img {
    height: 120px;
}

.card span {
    margin-top: 16px;
}
