.section {
    padding: 48px 0px;
    background: var(--color-blue);
    color: var(--color-text-white);
    font-family: "Montserrat", sans-serif;
}

.relative {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.relative p {
    font-weight: 500;
    font-style: italic;
    text-align: center;
    max-width: 750px;
}

.relative svg {
    font-size: 100px;
    color: rgba(0, 0, 0, 0.1);
}

.leftQuote {
    margin-right: 16px;
}

.rightQuote {
    margin-left: 16px;
}

@media screen and (max-width: 900px) {
    .relative svg {
        font-size: 60px;
        position: absolute;
    }

    .leftQuote {
        left: 0px;
        top: -40px;
    }

    .rightQuote {
        right: 0;
        bottom: 0px;
    }
}

.authorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}

.avatar {
    border-radius: 50%;
    border: 3px solid white;
    width: 80px;
    height: 80px;
}

.authorInfo p {
    margin: 0;
}

.authorTitle {
    font-weight: 800;
}

.authorPosition {
    font-weight: 300;
}
