.section {
    padding: 36px 0px;
    background-color: var(--color-turquoise);
    color: var(--color-text-white);
}

.title {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 24px;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.getStarted {
    background-color: var(--color-purple);
    border-color: var(--color-purple);
    min-width: 200px;
    color: var(--color-text-white);
}
