.ant-page-header-content {
  padding-block-start: 32px;
}

.refine-create-button {
  width: 224px;
}

.ant-modal {
  max-width: 656px;
  width: 100% !important;
}

.ant-pagination-total-text {
  margin-right: auto;
  font-size: 14px !important;
  color: rgba(0, 0, 0, 0.45) !important;
  margin-inline-end: auto !important;
}

@media print {
  .print-hidden {
    display: none !important;
  }
  .ant-layout {
    padding: 0;
    background: transparent;
  }
}
