.ant-page-header-content {
  padding-block-start: 32px;
}

.refine-create-button {
  width: 224px;
}

.ant-modal {
  max-width: 656px;
  width: 100% !important;
}

.ant-pagination-total-text {
  margin-right: auto;
  font-size: 14px !important;
  color: rgba(0, 0, 0, 0.45) !important;
  margin-inline-end: auto !important;
}

.ant-table-wrapper .ant-table {
  border-radius: 8px;
}

.ant-table-wrapper .ant-table-tbody > tr:last-child > td:first-child {
  border-bottom-left-radius: 8px;
}

.ant-table-wrapper .ant-table-tbody > tr:last-child > td:last-child {
  border-bottom-right-radius: 8px;
}

.ant-card-body > .ant-table-wrapper {
  margin-top: 1px;
}

.ant-card-body
  > .ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:first-child {
  border-start-start-radius: 0px;
}

.ant-card-body
  > .ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:last-child {
  border-start-end-radius: 0px;
}

.ant-modal-content {
  padding: 0 !important;
}

.ant-modal-body {
  padding: 24px !important;
}

.ant-modal-header {
  padding: 20px 24px !important;
  margin-bottom: 0 !important;
  border-bottom: 1px solid var(--ant-color-border) !important;
}

.ant-modal-footer {
  padding: 20px 24px !important;
  margin-top: 0 !important;
  border-top: 1px solid var(--ant-color-border) !important;
}

@media print {
  .print-hidden {
    display: none !important;
  }

  .ant-layout {
    padding: 0;
    background: transparent;
  }
}
