.section {
    background-image: url("/landing-page/background.png");
    background-color: var(--color-purple);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 64px 0px;
}

.mainTitle {
    font-size: 36px;
    text-align: center;
    color: var(--color-turquoise);
    font-weight: 900;
}

.mainTitle span {
    color: var(--color-text-white);
    font-weight: 600;
}

.description {
    color: var(--color-text-white);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-top: 48px;
}

.linkButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 24px;
}

.tutorialButton {
    background-color: var(--color-blue);
    border-color: var(--color-blue);
    color: var(--color-text-white);
}

.tutorialButton:hover {
    background-color: #1071ca;
    border-color: #1071ca;
}

.docButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-text-white);
}

.docButton svg {
    margin-left: 12px;
}

.playerContainer {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: calc(9 / 16 * 100%);
}

.reactPlayer {
    position: absolute;
    top: 0;
    left: 0;
}

.playerButtons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playerButton {
    width: 80%;
    text-align: center;
}

.controlsContainer {
    margin-top: 4px;
}

.icon {
    color: #888888;
    font-size: 24px;
    padding: 2px;
    cursor: pointer;
    transition: all 0.5s;
}

.icon:hover {
    color: var(--color-text-white);
}

progress {
    border: none;
    height: 4px;
    background: #000000;
    width: 100%;
}

progress::-webkit-progress-value {
    background: var(--color-turquoise);
    transition: all 0.25s;
}

progress::-webkit-progress-bar {
    background: #000000;
}


.indexCtasGitHubButtonWrapper {
    display: flex;
}

.indexCtasGitHubButton {
    overflow: hidden;
    border: 0;
}
/* 
.featuresContainer {
    display: grid;
    gap: 24px;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
    margin-bottom: 30px;
}

@media screen and (max-width: 610px) {
    .featuresContainer {
        grid-template-columns: 1fr;
    }
}

.feature {
    display: flex;
    gap: 36px;
}

.feature img {
    width: 80px;
    height: 80px;
}

.feature p {
    margin-bottom: 0;
    color: var(--color-text-white);
}

.featureTitle {
    color: var(--color-text-white);
    font-weight: 800;
    font-size: 20px;
} */