.section {
    background-image: url("/landing-page/background.png");
    background-color: var(--color-purple);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 64px 0px;
}

.mainTitle {
    font-size: 36px;
    text-align: center;
    color: var(--color-turquoise);
    font-weight: 900;
}

.mainTitle span {
    color: var(--color-text-white);
    font-weight: 600;
}

.description {
    color: var(--color-text-white);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-top: 48px;
}

.linkButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 64px;
}

.tutorialButton {
    background-color: var(--color-blue);
    border-color: var(--color-blue);
    color: var(--color-text-white);
}

.tutorialButton:hover {
    background-color: #1071ca;
    border-color: #1071ca;
}

.docButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-text-white);
}

.docButton svg {
    margin-left: 12px;
}

.playerContainer {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: calc(9 / 16 * 100%);
}

.reactPlayer {
    position: absolute;
    top: 0;
    left: 0;
}
