{
    "root": true,
    "env": {
        "browser": true,
        "es6": true,
        "jest": true,
        "amd": true,
        "commonjs": true
    },
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier/@typescript-eslint",
        "plugin:prettier/recommended"
    ],
    "overrides": [
        {
            "files": [
                "*.js"
            ],
            "rules": {
                "@typescript-eslint/no-var-requires": "off"
            }
        }
    ],
    "rules": {
        "@typescript-eslint/ban-types": "off",
        "@typescript-eslint/interface-name-prefix": "off"
    }
}