.root {
    @apply relative grid grid-cols-1 items-start gap-1 overflow-x-hidden;
    min-height: auto;
}

.main {
    @apply relative col-span-1 box-border flex  flex-col px-0 pb-0;
    min-height: 500px;
}

.sidebar {
    @apply max-w-8xl col-span-1 mx-auto flex h-full w-full flex-col px-6 py-6;
}

.sliderContainer {
    @apply bg-product-gray flex items-center justify-center overflow-x-hidden;
}

.imageContainer {
    @apply relative h-full text-center;
}

.imageContainer > span {
    height: 100% !important;
}

.sliderContainer .img {
    @apply h-full max-h-full w-full object-cover;
}

.button {
    width: 100%;
}

.wishlistButton {
    @apply absolute top-0 right-0 z-30;
}

.relatedProductsGrid {
    @apply grid grid-cols-2 gap-2 py-2 md:grid-cols-4 md:gap-7;
}

@screen lg {
    .root {
        @apply grid-cols-12;
    }

    .main {
        @apply col-span-8 mx-0;
    }

    .sidebar {
        @apply col-span-4 py-6;
    }

    .imageContainer {
        max-height: 600px;
    }
}
