.container {
    .name {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 1rem;
    }

    .form {
        background-color: #fff;
        border-radius: 0.5rem;
        margin-bottom: 1.75rem;
    }

    .stage {
        padding: 0 1rem;
        margin-bottom: 2rem;
    }

    .actions {
        margin: 2rem 0;
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
    }
}
