.section {
    background-image: url("/landing-page/background.png");
    background-color: var(--color-purple);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 48px 0px;
    height: 100vh;
}

.title {
    font-size: 36px;
    text-align: center;
    color: #0ccee9;
    font-weight: 900;
    margin-top: 29px;
}

.title span {
    color: white;
    font-weight: 600;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
