.wrapper {
    background-image: url("/contact-page/contact_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 45px 0 15px;
    min-height: 100vh;
}

@media (max-width: 996px) {
    .descriptionContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.descriptionTitle {
    font-size: 72px;
    color: white;
    line-height: 66px;
}

.descriptionTitle span {
    color: rgba(12, 206, 233, 1);
    font-weight: 900;
}

.descriptionBody {
    color: white;
    font-size: 20px;
    line-height: 24px;
}

.descriptionBody span {
    font-weight: 900;
}

.contactContainer {
    padding: 24px;
    border-radius: 8px;
    background-color: white;
    transition: all 0.2s;
}

.contactContainer h2 {
    color: #0b82f0;
    font-weight: 700;
    margin-bottom: 12px;
}

.contactContainer h2 span {
    font-weight: 900;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.inputContainer label {
    font-weight: 600;
    font-size: 14px;
    color: rgb(74, 85, 104);
}

.inputContainer input,
select,
textarea {
    padding: 8px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    outline: none;
    transition: border 0.5s;
}

.inputContainer input:focus,
select:focus,
textarea:focus {
    border: 1px solid #0b82f0;
}

.submitButton {
    border-radius: 4px;
    background-color: #0b82f0;
    color: white;
    padding: 8px;
    width: 100%;
    border: none;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.5s;
}

.submitButton:hover {
    background-color: #0972d3;
}

.submitButton:disabled {
    background-color: #bfbfbf;
}

.subDescription {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #bfbfbf;
}

.subDescription a {
    color: #0b82f0;
}

.messageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 22px;
    margin-top: 8px;
}

.successMessage {
    color: #389e0d;
    margin-bottom: 0px;
    font-size: 17px;
}

.errorMessage {
    color: #cf1322;
    margin-bottom: 0px;
    font-size: 17px;
}
