body {
  margin: 0px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.layout {
  display: flex;
  gap: 16px;
}

@media screen and (max-width: 751px) {
  .layout {
    display: block;
  }
}

.layout .content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.breadcrumb {
  display: flex;
  gap: 24px;
  list-style-type: "/  ";
  padding: 8px 16px;
  border-bottom: 1px solid lightgray;
}

.breadcrumb a {
  color: blue;
  text-decoration: none;
}

.menu {
  flex-shrink: 0;
  padding: 8px 16px;
  border-right: 1px solid lightgray;
}

.menu a {
  color: black;
}

.menu .active {
  font-weight: bold;
}

@media screen and (max-width: 751px) {
  .menu {
    border-right: none;
    border-bottom: 1px solid lightgray;
  }
}

.menu ul {
  padding-left: 16px;
}

.page-container {
  @apply mx-auto my-2 py-2 px-4 bg-slate-50 border rounded drop-shadow-md;
}

.page-title {
  @apply text-xl font-bold;
}

.page-header {
  @apply py-4 flex justify-between items-center mb-6;
}

.bar-chart-container {
  /* Disable shadows for bars by making the shadow transparent */
  .recharts-bar-rectangle {
    filter: drop-shadow(0px 0px 0px transparent);
  }
}