.control {
    @apply bg-blue border-accent-0 text-accent-0 h-10 absolute bottom-10 right-10
  z-30 flex select-none flex-row border shadow-xl opacity-60;
}

.leftControl,
.rightControl {
    @apply cursor-pointer px-4 md:px-9;
    transition: background-color 0.2s ease;
}

.leftControl:hover,
.rightControl:hover {
    background-color: var(--blue);
}

.leftControl:focus,
.rightControl:focus {
    @apply outline-none;
}

.rightControl {
    @apply border-accent-0 border-l;
}

.leftControl {
    margin-right: -1px;
}
