.container {
    position: relative;
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2.5rem;
    }
    .search {
        display: flex;
    }

}