.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #282c34;
    color: #ffffff;
    padding: 2rem 0;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icons {
    margin-top: 1.5rem;
}

.icons > a:not(:last-child) {
    margin-right: 1.5rem;
}
