.list {
    display: flex;
    flex-direction: column;
}

.listItem {
    padding: 8px 16px;
    display: flex;
    align-items: flex-start;
    gap: 12px;

    border-bottom: 1px solid var(--gray-5, #d9d9d9);
    &:last-child {
        border-bottom: none;
    }
}

.listItemContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
