.fieldset {
    @apply mt-3 flex flex-col;
}

.fieldset .label {
    @apply text-accent-7 mb-2 text-xs font-medium uppercase;
}

.fieldset .select {
    @apply appearance-none border-accent-2 w-full border p-2 text-sm font-normal;
}

.fieldset .select:focus {
    @apply shadow-outline-normal outline-none;
}
