.product-list-container {
    padding: 12px 24px;
    display: flex;
    align-items: center;
    gap: 48px;
    border-bottom: 2px solid #f6f6f6;

    @media screen and (max-width: 960px) {
        flex-direction: column;
        gap: 12px;
    }

    .avatar {
        flex-shrink: 0;
    }
    .info-container {
        width: 600px;

        @media screen and (max-width: 960px) {
            text-align: center;
            width: auto;
        }

        .title {
            margin-bottom: 0px;
            font-weight: 700;
        }

        .description {
            font-weight: 500;
        }
    }
    .price {
        color: #2a2c2c;
        font-size: 18px;
        font-weight: 800;
        margin: auto;
        width: 200px;
        text-align: center;
    }

    .input-container {
        display: flex;
        gap: 12px;

        .add-input {
            width: 60px;

            .ant-input-number-handler-wrap {
                opacity: 1;
            }
        }

        .add-button {
            display: flex;
            color: white;
            background: @finefoods-red;
            border-color: @finefoods-red;
            font-weight: bold;

            svg {
                font-size: 22px;
                margin-right: 5px;
            }
        }
    }
}
