.ant-pagination-item {
  border-radius: 100% !important;
  font-weight: 400 !important;
}

.ant-pagination-item-active {
  border-radius: 100% !important;
  color: var(--ant-color-primary-text-active) !important;
  background: var(--ant-color-primary-bg) !important;
  border: 1px solid var(--ant-color-primary-bg-hover);
}

.ant-table-content {
  border: 1px solid var(--ant-color-border);
  border-radius: 24px;
}

.ant-pagination-total-text {
  margin-right: auto;
  margin-inline-end: auto !important;
}

.ant-table-cell {
  white-space: nowrap;
}

.ant-btn {
  border-radius: 80px;
}

.ant-form-item-horizontal {
  .ant-form-item-row {
    align-items: center;
  }
}

.ant-table-filter-dropdown > div > div {
  width: 100%;
}

.ant-select {
  width: 100%;
}

.ant-select-selector {
  width: 100%;
}

.ant-page-header-heading {
  height: 56px;

  @media screen and (max-width: 768px) {
    height: max-content;
  }
}
