.ant-modal {
    .ant-modal-content {
        padding: 0;
    }

    .ant-modal-header {
        padding: 20px 24px;
        border-bottom: 1px solid #d9d9d9;
        margin-bottom: 0px;
    }

    .ant-modal-close {
        top: 20px;
    }

    .ant-modal-body {
        padding: 20px 24px;
    }

    .ant-modal-footer {
        padding: 20px 24px;
        border-top: 1px solid #d9d9d9;
        margin-top: 0px;
    }
}

.kanban-update-modal {
    .ant-modal-body {
        padding: 0px;
    }

    .ant-modal-footer {
        border-top: none;
        text-align: unset;
    }

    .ant-collapse {
        .ant-collapse-header {
            padding-left: 24px;
        }

        .ant-collapse-content {
            background-color: white;
            border-top: 0px;

            .ant-collapse-content-box {
                padding-left: 53px;
                padding-top: 0px;
            }
        }
    }
}

.ant-select.kanban-users-form-select {
    .ant-select-selector {
        background-color: #fff;
    }
}

.audit-log-table {
    .ant-table {
        .ant-table-tbody {
            & > tr.ant-table-row:hover > td {
                background: none !important;
            }
        }

        .ant-table-cell {
            vertical-align: top;
        }
    }
}

.ant-picker-calendar {
    .ant-picker-panel {
        .ant-picker-body {
            .ant-picker-cell {
                .ant-picker-calendar-date-content {
                    height: 92px;
                    overflow: hidden;
                }
            }
        }
    }
}

.ant-pagination-total-text {
    margin-right: auto;
    font-size: 14px !important;
    color: rgba(0, 0, 0, 0.45) !important;
    margin-inline-end: auto !important;
}
