.ant-modal {
    .ant-modal-content {
        padding: 0;
    }

    .ant-modal-header {
        padding: 20px 24px;
        border-bottom: 1px solid #d9d9d9;
        margin-bottom: 0px;
    }

    .ant-modal-close {
        top: 20px;
    }

    .ant-modal-body {
        padding: 20px 24px;
    }

    .ant-modal-footer {
        padding: 20px 24px;
        border-top: 1px solid #d9d9d9;
        margin-top: 0px;
    }
}

.kanban-update-modal {
    .ant-modal-body {
        padding: 0px;
    }

    .ant-modal-footer {
        border-top: none;
        text-align: unset;
    }
}

.ant-select.kanban-users-form-select {
    .ant-select-selector {
        background-color: #fff;
    }
}

.audit-log-table {
    .ant-table {
        .ant-table-tbody {
            & > tr.ant-table-row:hover > td {
                background: none !important;
            }
        }

        .ant-table-cell {
            vertical-align: top;
        }
    }
}

.ant-picker-calendar {
    .ant-picker-panel {
        .ant-picker-body {
            .ant-picker-cell {
                .ant-picker-calendar-date-content {
                    height: 92px;
                    overflow: hidden;
                }
            }
        }
    }
}
