:root {
    --fc-today-bg-color: rgba(230, 244, 255, 1);
}

.fc-daygrid-day-number,
.fc-col-header-cell-cushion {
    color: rgba(0, 0, 0, 0.75) !important;
    font-weight: 400;
}

.fc-event::after {
    background-color: unset !important;
}

.fc-event:hover,
.fc-event:focus {
    background-color: unset;
    box-shadow: unset;
}

.fc-event {
    .fc-event-title,
    .fc-event-time {
        color: rgba(0, 0, 0, 0.65);
        font-weight: 400 !important;
        font-size: 12px;
    }
}

.fc-daygrid-block-event,
.fc-timegrid-event {
    cursor: pointer;
    .fc-event-time {
        width: 35px;
    }
    .fc-event-title,
    .fc-event-time {
        color: #fff;
        font-weight: 400 !important;
        font-size: 12px;
    }
}

.fc-timegrid-slot-label-cushion,
.fc-list-day-text,
.fc-list-day-side-text {
    color: rgba(0, 0, 0, 0.75);
}

.fc-list-day {
    position: relative;
    z-index: 1;
}

.fc-event-title-container {
    padding-left: 8px;
    padding-right: 8px;
}
