.wrapper {
    display: grid;
    grid-template-columns: 50px auto;
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
    font-weight: bold;
    align-items: center;
    border-radius: 10px;
}

.wrapper:hover {
    cursor: pointer;
}

.circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-style: solid;
    border-width: 5px;
    border-radius: 50%;
}
