.areaChartWrapper {
    height: 100%;
    margin-left: auto;
    display: flex;
    flex-grow: 0;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 8px;
}

.area {
    height: 48px !important;
    width: 96px;

    @media (min-width: 1920px) {
        width: 250px;
    }

    @media (max-width: 1919px) {
        width: 150px;
    }

    @media (max-width: 1536px) {
        width: 96px;
    }

    @media (max-width: 1200px) {
        width: 300px;
    }

    @media (max-width: 528px) {
        width: 100px;
    }
}
