.login-card {
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
}

.login-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.login-background {
    background-color: #eff7f7;
}

.login-buttons {
    margin-top: 30px;
}
