.section {
    padding: 64px 0px;
    background-color: var(--color-bg-white);
    color: var(--color-text-black);
}

.title {
    font-size: 40px;
    font-weight: 700;
    color: var(--color-blue);
}

@media screen and (max-width: 990px) {
    .title br {
        display: none;
    }
}

.description {
    font-size: 20px;
}

.imgContainer {
    position: relative;
}

.arrowImg {
    position: absolute;
    transform: scale(1.7);
    top: 81px;
    right: 42px;
}

@media screen and (max-width: 990px) {
    .arrowImg {
        display: none;
    }
}
