.section {
    padding: 96px 0px 60px 0px;
}

.mainTitle {
    font-size: 42px;
    font-weight: 900;
    color: #0b82f0;
    text-align: center;
}

.description {
    font-size: 32px;
    line-height: 36px;
    font-weight: 300;
    text-align: center;
}

.supportContainer {
    margin-top: 30px;
    display: grid;
    grid-gap: 12px;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
}

@media screen and (max-width: 610px) {
    .supportContainer {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
}