.item {
  cursor: pointer;
}

.ai-landing-step-two-animation .item .box,
.ai-landing-step-two-animation .item .text {
  transition: fill 300ms ease-in-out;
  fill: #6c7793;
}

.ai-landing-step-two-animation .item .line,
.ai-landing-step-two-animation .item .node_in,
.ai-landing-step-two-animation .item .node_out {
  transition: stroke 300ms ease-in-out;
  stroke: #a3adc2;
}

.ai-landing-step-two-animation .item.active .box,
.ai-landing-step-two-animation .item.active .text {
  fill: #3333ff;
}

.ai-landing-step-two-animation .item.active .line,
.ai-landing-step-two-animation .item.active .node_in,
.ai-landing-step-two-animation .item.active .node_out {
  stroke: #3333ff;
}

.ai-landing-step-two-animation .item .node_in,
.ai-landing-step-two-animation .item .node_out {
  fill: white;
}

.ai-landing-step-two-animation .icons {
  transition: transform 300ms ease-in-out;
}

.ai-landing-step-two-animation .icons.restapi-active {
  transform: translate(246px, -380px);
}

.ai-landing-step-two-animation .icons.graphql-active {
  transform: translate(246px, -284px);
}

.ai-landing-step-two-animation .icons.supabase-active {
  transform: translate(246px, -188px);
}

.ai-landing-step-two-animation .icons.nestjs-active {
  transform: translate(246px, -92px);
}

.ai-landing-step-two-animation .icons.strapi-active {
  transform: translate(246px, 4px);
}

.ai-landing-step-two-animation .icons.mock-active {
  transform: translate(246px, 100px);
}

[data-theme="dark"] .ai-landing-step-two-animation .item .box,
[data-theme="dark"] .ai-landing-step-two-animation .item .text {
  fill: #a3adc2;
}

[data-theme="dark"] .ai-landing-step-two-animation .item .line,
[data-theme="dark"] .ai-landing-step-two-animation .item .node_in,
[data-theme="dark"] .ai-landing-step-two-animation .item .node_out {
  stroke: #6c7793;
}

[data-theme="dark"] .ai-landing-step-two-animation .item .node_in,
[data-theme="dark"] .ai-landing-step-two-animation .item .node_out {
  fill: #14141f;
}

[data-theme="dark"] .ai-landing-step-two-animation .item.active .box,
[data-theme="dark"] .ai-landing-step-two-animation .item.active .text {
  fill: #26d97f;
}

[data-theme="dark"] .ai-landing-step-two-animation .item.active .line,
[data-theme="dark"] .ai-landing-step-two-animation .item.active .node_in,
[data-theme="dark"] .ai-landing-step-two-animation .item.active .node_out {
  stroke: #26d97f;
}
