.ai-landing-step-one-addIcon {
  animation: ai-landing-step-one-addIcon 2s ease-in-out infinite;
  transform-origin: center;
}

.ai-landing-step-one-figma {
  animation: ai-landing-step-one-figma 12s ease-in-out infinite;
}

.ai-landing-step-one-figma::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cg clip-path='url(%23ai-landing-step-one-figma)'%3E%3Cpath fill='%230ACF83' d='M8.002 24c2.208 0 4-1.792 4-4v-4h-4c-2.208 0-4 1.792-4 4s1.792 4 4 4Z'/%3E%3Cpath fill='%23A259FF' d='M4.002 12c0-2.208 1.792-4 4-4h4v8h-4c-2.208 0-4-1.792-4-4Z'/%3E%3Cpath fill='%23F24E1E' d='M4.002 4c0-2.208 1.792-4 4-4h4v8h-4c-2.208 0-4-1.792-4-4Z'/%3E%3Cpath fill='%23FF7262' d='M12.002 0h4c2.208 0 4 1.792 4 4s-1.792 4-4 4h-4V0Z'/%3E%3Cpath fill='%231ABCFE' d='M20.002 12c0 2.208-1.792 4-4 4s-4-1.792-4-4 1.792-4 4-4 4 1.792 4 4Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='ai-landing-step-one-figma'%3E%3Cpath fill='%23fff' d='M4 0h16.003v24H4z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.ai-landing-step-one-pdf {
  animation: ai-landing-step-one-pdf 12s ease-in-out infinite;
}

.ai-landing-step-one-pdf::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' fill='none'%3E%3Cg clip-path='url(%23ai-landing-step-one-pdf)'%3E%3Cpath fill='%23fff' d='M20.9 0H4.1A3.6 3.6 0 0 0 .5 3.6v16.8A3.6 3.6 0 0 0 4.1 24h16.8a3.6 3.6 0 0 0 3.6-3.6V3.6A3.6 3.6 0 0 0 20.9 0Z'/%3E%3Cpath fill='%23EE3E36' d='M4.014 22c-.65 0-1.172-.331-1.397-.886-.376-.921.165-2.19 1.485-3.479 1.033-1.01 2.476-1.84 4.29-2.472.965-1.792 1.854-3.712 2.476-5.352-1.379-2.147-1.633-4.797-1.15-6.278.311-.958.852-1.318 1.25-1.452a1.407 1.407 0 0 1 1.516.378c.595.64.814 1.93.668 3.944-.058.803-.325 1.88-.794 3.208l.062.076c.313.383.647.804.997 1.246.747.942 1.585 2 2.438 2.948.253-.008.496-.011.73-.011 3.014 0 5.038.63 5.7 1.776.281.488.287 1.038.016 1.508-.367.635-1.159 1.014-2.12 1.014-.233 0-.474-.022-.716-.067-1.211-.224-2.54-1.136-4.17-2.864-.415.023-.851.056-1.298.099-.96.092-2.812.334-4.688.925-.807 1.459-2.543 4.404-3.838 5.251-.49.32-.993.488-1.457.488Zm3.308-4.962c-.928.45-1.695.967-2.291 1.55-1.172 1.145-1.248 1.863-1.183 2.024.02.047.101.057.166.057.199 0 .464-.1.728-.271.58-.379 1.535-1.635 2.58-3.36Zm9.828-1.829c1.003.931 1.846 1.452 2.556 1.583.162.03.322.045.474.045.526 0 .871-.18.968-.348.018-.032.043-.074-.017-.177-.223-.387-1.312-1.024-3.981-1.103Zm-5.34-4.16a48.772 48.772 0 0 1-1.644 3.591 26.307 26.307 0 0 1 3.703-.629c.104-.01.207-.02.31-.028a85.933 85.933 0 0 1-1.804-2.223l-.565-.71Zm-.355-7.719a.213.213 0 0 0-.065.013c-.15.05-.303.276-.409.603-.32.98-.192 2.628.472 4.147.212-.72.338-1.325.371-1.785.163-2.24-.2-2.818-.315-2.942-.032-.036-.044-.036-.054-.036Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='ai-landing-step-one-pdf'%3E%3Cpath fill='%23fff' d='M.5 0h24v24H.5z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.ai-landing-step-one-ss {
  animation: ai-landing-step-one-ss 12s ease-in-out infinite;
}

.ai-landing-step-one-ss::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Crect width='24' height='18' y='3' fill='%230080FF' rx='4'/%3E%3Ccircle cx='6' cy='9' r='3' fill='%23FFBF00'/%3E%3Cpath fill='%2324A866' d='M4 21H14.83l-7.414-7.414a2 2 0 0 0-2.829 0l-4.45 4.45A4.002 4.002 0 0 0 4 21Z'/%3E%3Cpath fill='%2326D97F' d='M24 14.171V17a4 4 0 0 1-4 4H5.172L16.586 9.586a2 2 0 0 1 2.829 0L24 14.17Z'/%3E%3C/svg%3E");
}

.ai-landing-step-one-json {
  animation: ai-landing-step-one-json 12s ease-in-out infinite;
}

.ai-landing-step-one-json::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' fill='none'%3E%3Cg clip-path='url(%23ai-landing-step-one-json)'%3E%3Cpath fill='%238000FF' d='M20.9 0H4.1A3.6 3.6 0 0 0 .5 3.6v16.8A3.6 3.6 0 0 0 4.1 24h16.8a3.6 3.6 0 0 0 3.6-3.6V3.6A3.6 3.6 0 0 0 20.9 0Z'/%3E%3Cpath fill='%23fff' d='M13.192 16.2c0 .386-.31.7-.692.7a.696.696 0 0 1-.692-.7v-2.1c0-.386.31-.7.692-.7.383 0 .692.314.692.7v2.1Zm4.846-6.3V7.1c0-.386-.31-.7-.692-.7a.696.696 0 0 1-.692-.7c0-.386.31-.7.692-.7 1.145 0 2.077.942 2.077 2.1v2.8c0 .772.621 1.4 1.385 1.4.383 0 .692.314.692.7 0 .386-.31.7-.692.7-.764 0-1.385.628-1.385 1.4v2.8c0 1.158-.932 2.1-2.077 2.1a.696.696 0 0 1-.692-.7c0-.386.31-.7.692-.7a.697.697 0 0 0 .692-.7v-2.8c0-.84.376-1.586.957-2.1a2.795 2.795 0 0 1-.957-2.1ZM12.5 8.5c.573 0 1.039.47 1.039 1.05 0 .58-.466 1.05-1.039 1.05s-1.039-.47-1.039-1.05c0-.58.466-1.05 1.039-1.05Zm-8.308 2.8c.764 0 1.385-.628 1.385-1.4V7.1c0-1.158.932-2.1 2.077-2.1.383 0 .692.314.692.7 0 .386-.31.7-.692.7a.697.697 0 0 0-.692.7v2.8c0 .84-.376 1.586-.957 2.1.581.514.957 1.26.957 2.1v2.8c0 .386.31.7.692.7.383 0 .692.314.692.7 0 .386-.31.7-.692.7-1.145 0-2.077-.942-2.077-2.1v-2.8c0-.772-.621-1.4-1.385-1.4A.696.696 0 0 1 3.5 12c0-.386.31-.7.692-.7Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='ai-landing-step-one-json'%3E%3Cpath fill='%23fff' d='M.5 0h24v24H.5z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

@keyframes ai-landing-step-one-panUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1336px);
  }
}

@keyframes ai-landing-step-one-addIcon {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.15;
  }
  100% {
    scale: 1;
  }
}

@keyframes ai-landing-step-one-figma {
  0% {
    opacity: 1;
    top: 25%;
    left: -20%;
    transform: translate(0, 0);
  }
  25% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    scale: 1;
  }
  30% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 0;
    scale: 0;
  }
}

@keyframes ai-landing-step-one-pdf {
  0% {
    top: 25%;
    left: 120%;
    transform: translate(0, 0);
  }
  20% {
    top: 25%;
    left: 120%;
    transform: translate(0, 0);
  }
  45% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    scale: 1;
  }
  50% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 0;
    scale: 0;
  }
}

@keyframes ai-landing-step-one-ss {
  0% {
    top: 75%;
    left: -50%;
    transform: translate(0, 0);
  }
  40% {
    top: 75%;
    left: -50%;
    transform: translate(0, 0);
  }
  65% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    scale: 1;
  }
  70% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 0;
    scale: 0;
  }
}

@keyframes ai-landing-step-one-json {
  0% {
    top: 75%;
    left: 120%;
    transform: translate(0, 0);
  }
  60% {
    top: 75%;
    left: 120%;
    transform: translate(0, 0);
  }
  85% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    scale: 1;
  }
  90% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 0;
    scale: 0;
  }
}
