.ai-landing-step-three-animation {
}

.ai-landing-step-three-content {
  width: 556px;
  height: 488px;
  overflow: hidden;
  position: relative;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(48, 52, 80, 0.5) 0%,
    rgba(48, 52, 80, 0) 100%
  );
  color: #6c7793;
  font-family: "Inter", sans-serif;
}

.ai-landing-step-three-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 16px;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 580px;
  height: 32px;
  overflow: hidden;
}

.ai-landing-step-three-header span {
  font-size: 16px;
  line-height: 24px;
}

.ai-landing-step-three-header b {
  font-size: 12px;
  line-height: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px 8px 10px;
  gap: 4px;
  background: rgba(38, 217, 127, 0.1);
  box-shadow: inset 0px 0px 16px rgba(38, 217, 127, 0.2);
  border-radius: 6px;
  color: #26d97f;
  transform: translateX(110%);
  opacity: 0;
  will-change: transform, opacity;
}

.ai-landing-step-three-header b::before {
  content: "";
  width: 12px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_7059_3279)'%3E%3Cpath d='M6 4V8M8 6H4' stroke='%233333FF' stroke-width='0.75' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.25 6C1.25 3.76083 1.25 2.64124 1.94562 1.94562C2.64124 1.25 3.76083 1.25 6 1.25C8.23915 1.25 9.35875 1.25 10.0544 1.94562C10.75 2.64124 10.75 3.76083 10.75 6C10.75 8.23915 10.75 9.35875 10.0544 10.0544C9.35875 10.75 8.23915 10.75 6 10.75C3.76083 10.75 2.64124 10.75 1.94562 10.0544C1.25 9.35875 1.25 8.23915 1.25 6Z' stroke='%233333FF' stroke-width='0.75'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_7059_3279'%3E%3Crect width='12' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.ai-landing-step-three-header b.ai-landing-step-three-show-add {
  animation: ai-landing-step-three-showAdd 1s ease-out forwards;
}

.ai-landing-step-three-table {
  width: 580px;
  height: 304px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  mask-image: linear-gradient(180deg, #ffffff 50%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  top: 114px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.ai-landing-step-three-table .ai-landing-step-three-column {
  position: relative;
}

.ai-landing-step-three-table .ai-landing-step-three-column b {
  display: block;
  font-size: 12px;
  line-height: 16px;
  border-radius: 2px;
  padding: 8px 16px;
  background: rgba(108, 119, 147, 0.1);
  box-shadow: inset 0px 0px 16px rgba(108, 119, 147, 0.2);
}

.ai-landing-step-three-table .ai-landing-step-three-column span {
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 16px;
  border-radius: 2px;
  background: rgba(108, 119, 147, 0.1);
  transition: top 1s ease-in-out;
  will-change: top;
}

.ai-landing-step-three-table
  .ai-landing-step-three-column
  span.ai-landing-step-three-row1 {
  top: 34px;
}

.ai-landing-step-three-table
  .ai-landing-step-three-column
  span.ai-landing-step-three-row2 {
  top: 68px;
}

.ai-landing-step-three-table
  .ai-landing-step-three-column
  span.ai-landing-step-three-row3 {
  top: 102px;
}

.ai-landing-step-three-table
  .ai-landing-step-three-column
  span.ai-landing-step-three-row4 {
  top: 136px;
}

.ai-landing-step-three-table
  .ai-landing-step-three-column
  span.ai-landing-step-three-row5 {
  top: 170px;
}

.ai-landing-step-three-table
  .ai-landing-step-three-column
  span.ai-landing-step-three-row6 {
  top: 204px;
}

.ai-landing-step-three-table
  .ai-landing-step-three-column
  span.ai-landing-step-three-row7 {
  top: 238px;
}

.ai-landing-step-three-table
  .ai-landing-step-three-column
  span.ai-landing-step-three-row8 {
  top: 272px;
}

.ai-landing-step-three-table
  .ai-landing-step-three-column.ai-landing-step-three-id {
  width: 76px;
}

.ai-landing-step-three-table
  .ai-landing-step-three-column.ai-landing-step-three-id
  b {
  border-radius: 12px 2px 2px 2px;
}

.ai-landing-step-three-table
  .ai-landing-step-three-column.ai-landing-step-three-customer {
  flex-grow: 1;
}

.ai-landing-step-three-table
  .ai-landing-step-three-column.ai-landing-step-three-amount {
  width: 95px;
  text-align: right;
}

.ai-landing-step-three-table
  .ai-landing-step-three-column.ai-landing-step-three-amount
  span {
  font-variant-numeric: tabular-nums;
}

.ai-landing-step-three-table
  .ai-landing-step-three-column.ai-landing-step-three-date {
  width: 103px;
  text-align: right;
}

.ai-landing-step-three-table
  .ai-landing-step-three-column.ai-landing-step-three-date
  b {
  border-radius: 2px 12px 2px 2px;
}

.ai-landing-step-three-table
  .ai-landing-step-three-column.ai-landing-step-three-date
  b.ai-landing-step-three-border-radius-changed {
  border-radius: 2px 2px 2px 2px;
  animation: ai-landing-step-three-borderradius 1s ease-out forwards;
  will-change: border-radius;
}

.ai-landing-step-three-table
  .ai-landing-step-three-column.ai-landing-step-three-actions {
  width: 0px;
  opacity: 0;
  text-align: right;
  overflow: hidden;
  will-change: width, opacity;
}

.ai-landing-step-three-table
  .ai-landing-step-three-column.ai-landing-step-three-actions.ai-landing-step-three-show-actions {
  animation: ai-landing-step-three-showActions 1s ease-out forwards;
  width: 76px;
  opacity: 1;
}

.ai-landing-step-three-table
  .ai-landing-step-three-column.ai-landing-step-three-actions
  b {
  border-radius: 2px 12px 2px 2px;
  white-space: nowrap;
}

.ai-landing-step-three-table
  .ai-landing-step-three-column.ai-landing-step-three-actions
  span {
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  white-space: nowrap;
}

.ai-landing-step-three-table
  .ai-landing-step-three-column.ai-landing-step-three-actions
  span::after {
  content: "";
  display: block;
  width: 60px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='12' fill='none'%3E%3Cpath stroke='%236C7793' stroke-width='.75' d='M10.772 5.522c.152.214.228.32.228.478 0 .158-.076.264-.228.478C10.089 7.434 8.345 9.5 6 9.5S1.911 7.435 1.228 6.478C1.076 6.263 1 6.157 1 6c0-.158.076-.264.228-.478C1.911 4.566 3.655 2.5 6 2.5s4.089 2.065 4.772 3.022Z'/%3E%3Cpath stroke='%236C7793' stroke-width='.75' d='M7.5 6a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z'/%3E%3Cg stroke='%236C7793' stroke-linejoin='round' stroke-width='.75' clip-path='url(%23a)'%3E%3Cpath d='M31.037 1.943c.373-.404.559-.606.757-.724a1.553 1.553 0 0 1 1.551-.023c.202.112.394.308.778.7.384.393.576.589.685.794a1.647 1.647 0 0 1-.023 1.585c-.115.203-.313.393-.708.773l-4.702 4.53c-.749.72-1.123 1.081-1.591 1.264-.468.183-.982.17-2.011.142l-.14-.003c-.313-.009-.47-.013-.561-.116-.091-.103-.079-.263-.054-.582l.014-.173c.07-.898.105-1.347.28-1.75.175-.405.478-.732 1.083-1.388l4.642-5.03ZM30.5 2 34 5.5'/%3E%3Cpath stroke-linecap='round' d='M31 11h4'/%3E%3C/g%3E%3Cpath stroke='%236C7793' stroke-linecap='round' stroke-width='.75' d='m57.75 2.75-.31 5.013c-.079 1.28-.119 1.92-.44 2.381a2 2 0 0 1-.6.564c-.479.292-1.12.292-2.404.292-1.284 0-1.927 0-2.407-.293a2 2 0 0 1-.6-.565c-.32-.46-.36-1.102-.437-2.384L50.25 2.75'/%3E%3Cpath stroke='%236C7793' stroke-linecap='round' stroke-width='.75' d='M49.5 2.75h9m-2.472 0-.341-.704c-.227-.468-.34-.702-.536-.848a.99.99 0 0 0-.138-.086C54.797 1 54.538 1 54.017 1c-.533 0-.799 0-1.02.117a1.002 1.002 0 0 0-.138.09c-.198.151-.309.394-.53.879l-.303.664M52.75 8.25v-3M55.25 8.25v-3'/%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M24 0h12v12H24z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.ai-landing-step-three-directions {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(114px + 304px - 20px);
  will-change: transform, opacity;
}

.ai-landing-step-three-directions b {
  font-weight: 400;
  display: block;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 20px;
  border-radius: 12px;
  background: rgba(38, 217, 127, 0.1);
  box-shadow: inset 0px 0px 16px rgba(38, 217, 127, 0.2);
  position: absolute;
  bottom: 0;
  left: 50%;
  color: #26d97f;
  transform: translateX(-50%) translateY(100%);
  opacity: 0;
  will-change: transform, opacity;
}

.ai-landing-step-three-directions b.ai-landing-step-three-direction-up {
  animation: ai-landing-step-three-directionUp 2s ease-out forwards;
}

.ai-landing-step-three-directions b.ai-landing-step-three-direction-down {
  animation: ai-landing-step-three-directionDown 2s ease-out forwards;
}

/* Light mode styles */
.ai-landing-step-three-animation.light .ai-landing-step-three-content {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(222, 229, 237, 0.5) 0%,
    rgba(222, 229, 237, 0) 100%
  );
  color: #6c7793;
}

.ai-landing-step-three-animation.light .ai-landing-step-three-header b {
  background: rgba(51, 51, 255, 0.1);
  box-shadow: inset 0px 0px 16px rgba(51, 51, 255, 0.2);
  color: #3333ff;
}

.ai-landing-step-three-animation.light .ai-landing-step-three-header b::before {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_7059_3279)'%3E%3Cpath d='M6 4V8M8 6H4' stroke='%233333FF' stroke-width='0.75' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.25 6C1.25 3.76083 1.25 2.64124 1.94562 1.94562C2.64124 1.25 3.76083 1.25 6 1.25C8.23915 1.25 9.35875 1.25 10.0544 1.94562C10.75 2.64124 10.75 3.76083 10.75 6C10.75 8.23915 10.75 9.35875 10.0544 10.0544C9.35875 10.75 8.23915 10.75 6 10.75C3.76083 10.75 2.64124 10.75 1.94562 10.0544C1.25 9.35875 1.25 8.23915 1.25 6Z' stroke='%233333FF' stroke-width='0.75'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_7059_3279'%3E%3Crect width='12' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.ai-landing-step-three-animation.light
  .ai-landing-step-three-table
  .ai-landing-step-three-column
  b,
.ai-landing-step-three-animation.light
  .ai-landing-step-three-table
  .ai-landing-step-three-column
  span {
  background: rgba(207, 215, 226, 0.1);
  box-shadow: inset 0px 0px 16px rgba(163, 173, 194, 0.2);
}

.ai-landing-step-three-animation.light
  .ai-landing-step-three-table
  .ai-landing-step-three-column.ai-landing-step-three-actions
  span::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='12' fill='none'%3E%3Cpath stroke='%236C7793' stroke-width='.75' d='M10.772 5.522c.152.214.228.32.228.478 0 .158-.076.264-.228.478C10.089 7.434 8.345 9.5 6 9.5S1.911 7.435 1.228 6.478C1.076 6.263 1 6.157 1 6c0-.158.076-.264.228-.478C1.911 4.566 3.655 2.5 6 2.5s4.089 2.065 4.772 3.022Z'/%3E%3Cpath stroke='%236C7793' stroke-width='.75' d='M7.5 6a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z'/%3E%3Cg stroke='%236C7793' stroke-linejoin='round' stroke-width='.75' clip-path='url(%23a)'%3E%3Cpath d='M31.037 1.943c.373-.404.559-.606.757-.724a1.553 1.553 0 0 1 1.551-.023c.202.112.394.308.778.7.384.393.576.589.685.794a1.647 1.647 0 0 1-.023 1.585c-.115.203-.313.393-.708.773l-4.702 4.53c-.749.72-1.123 1.081-1.591 1.264-.468.183-.982.17-2.011.142l-.14-.003c-.313-.009-.47-.013-.561-.116-.091-.103-.079-.263-.054-.582l.014-.173c.07-.898.105-1.347.28-1.75.175-.405.478-.732 1.083-1.388l4.642-5.03ZM30.5 2 34 5.5'/%3E%3Cpath stroke-linecap='round' d='M31 11h4'/%3E%3C/g%3E%3Cpath stroke='%236C7793' stroke-linecap='round' stroke-width='.75' d='m57.75 2.75-.31 5.013c-.079 1.28-.119 1.92-.44 2.381a2 2 0 0 1-.6.564c-.479.292-1.12.292-2.404.292-1.284 0-1.927 0-2.407-.293a2 2 0 0 1-.6-.565c-.32-.46-.36-1.102-.437-2.384L50.25 2.75'/%3E%3Cpath stroke='%236C7793' stroke-linecap='round' stroke-width='.75' d='M49.5 2.75h9m-2.472 0-.341-.704c-.227-.468-.34-.702-.536-.848a.99.99 0 0 0-.138-.086C54.797 1 54.538 1 54.017 1c-.533 0-.799 0-1.02.117a1.002 1.002 0 0 0-.138.09c-.198.151-.309.394-.53.879l-.303.664M52.75 8.25v-3M55.25 8.25v-3'/%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M24 0h12v12H24z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.ai-landing-step-three-animation.light .ai-landing-step-three-directions b {
  background: rgba(51, 51, 255, 0.1);
  box-shadow: inset 0px 0px 16px rgba(51, 51, 255, 0.2);
  color: #3333ff;
}

/* Dark mode styles */
.ai-landing-step-three-animation.dark .ai-landing-step-three-content {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(48, 52, 80, 0.5) 0%,
    rgba(48, 52, 80, 0) 100%
  );
  color: #a3adc2;
}

.ai-landing-step-three-animation.dark .ai-landing-step-three-header b {
  background: rgba(38, 217, 127, 0.1);
  box-shadow: inset 0px 0px 16px rgba(38, 217, 127, 0.2);
  color: #26d97f;
}

.ai-landing-step-three-animation.dark .ai-landing-step-three-header b::before {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_7059_3279)'%3E%3Cpath d='M6 4V8M8 6H4' stroke='%2326D97F' stroke-width='0.75' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.25 6C1.25 3.76083 1.25 2.64124 1.94562 1.94562C2.64124 1.25 3.76083 1.25 6 1.25C8.23915 1.25 9.35875 1.25 10.0544 1.94562C10.75 2.64124 10.75 3.76083 10.75 6C10.75 8.23915 10.75 9.35875 10.0544 10.0544C9.35875 10.75 8.23915 10.75 6 10.75C3.76083 10.75 2.64124 10.75 1.94562 10.0544C1.25 9.35875 1.25 8.23915 1.25 6Z' stroke='%2326D97F' stroke-width='0.75'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_7059_3279'%3E%3Crect width='12' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.ai-landing-step-three-animation.dark
  .ai-landing-step-three-table
  .ai-landing-step-three-column
  b,
.ai-landing-step-three-animation.dark
  .ai-landing-step-three-table
  .ai-landing-step-three-column
  span {
  background: rgba(108, 119, 147, 0.1);
  box-shadow: inset 0px 0px 16px rgba(108, 119, 147, 0.2);
}

.ai-landing-step-three-animation.dark .ai-landing-step-three-directions b {
  background: rgba(38, 217, 127, 0.1);
  box-shadow: inset 0px 0px 16px rgba(38, 217, 127, 0.2);
  color: #26d97f;
}

.ai-landing-step-three-animation.dark
  .ai-landing-step-three-table
  .ai-landing-step-three-column.ai-landing-step-three-actions
  span::after {
  content: "";
  display: block;
  width: 60px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='12' fill='none'%3E%3Cpath stroke='white' stroke-width='.75' d='M10.772 5.522c.152.214.228.32.228.478 0 .158-.076.264-.228.478C10.089 7.434 8.345 9.5 6 9.5S1.911 7.435 1.228 6.478C1.076 6.263 1 6.157 1 6c0-.158.076-.264.228-.478C1.911 4.566 3.655 2.5 6 2.5s4.089 2.065 4.772 3.022Z'/%3E%3Cpath stroke='white' stroke-width='.75' d='M7.5 6a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z'/%3E%3Cg stroke='white' stroke-linejoin='round' stroke-width='.75' clip-path='url(%23a)'%3E%3Cpath d='M31.037 1.943c.373-.404.559-.606.757-.724a1.553 1.553 0 0 1 1.551-.023c.202.112.394.308.778.7.384.393.576.589.685.794a1.647 1.647 0 0 1-.023 1.585c-.115.203-.313.393-.708.773l-4.702 4.53c-.749.72-1.123 1.081-1.591 1.264-.468.183-.982.17-2.011.142l-.14-.003c-.313-.009-.47-.013-.561-.116-.091-.103-.079-.263-.054-.582l.014-.173c.07-.898.105-1.347.28-1.75.175-.405.478-.732 1.083-1.388l4.642-5.03ZM30.5 2 34 5.5'/%3E%3Cpath stroke-linecap='round' d='M31 11h4'/%3E%3C/g%3E%3Cpath stroke='white' stroke-linecap='round' stroke-width='.75' d='m57.75 2.75-.31 5.013c-.079 1.28-.119 1.92-.44 2.381a2 2 0 0 1-.6.564c-.479.292-1.12.292-2.404.292-1.284 0-1.927 0-2.407-.293a2 2 0 0 1-.6-.565c-.32-.46-.36-1.102-.437-2.384L50.25 2.75'/%3E%3Cpath stroke='white' stroke-linecap='round' stroke-width='.75' d='M49.5 2.75h9m-2.472 0-.341-.704c-.227-.468-.34-.702-.536-.848a.99.99 0 0 0-.138-.086C54.797 1 54.538 1 54.017 1c-.533 0-.799 0-1.02.117a1.002 1.002 0 0 0-.138.09c-.198.151-.309.394-.53.879l-.303.664M52.75 8.25v-3M55.25 8.25v-3'/%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M24 0h12v12H24z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
  opacity: 1;
  visibility: visible;
}

.ai-landing-step-three-animation.dark
  .ai-landing-step-three-table
  .ai-landing-step-three-column.ai-landing-step-three-actions.ai-landing-step-three-show-actions {
  animation: ai-landing-step-three-showActions 1s ease-out forwards;
  width: 76px;
  opacity: 1;
}

/* Responsive breakpoints */
/* xl breakpoint */
@media (min-width: 1296px) {
  .ai-landing-step-three-content {
    width: 508px;
    height: 446px;
  }

  .ai-landing-step-three-table {
    width: 508px;
    height: 348px;
  }

  .ai-landing-step-three-header {
    width: 508px;
  }

  .ai-landing-step-three-directions {
    top: calc(114px + 348px - 30px);
  }
}

/* lg breakpoint */
@media (min-width: 1024px) and (max-width: 1295px) {
  .ai-landing-step-three-content {
    width: 376px;
    height: 330px;
  }

  .ai-landing-step-three-animation {
    height: 260px;
  }

  .ai-landing-step-three-table {
    width: 376px;
    height: 260px;
  }

  .ai-landing-step-three-header {
    width: 376px;
  }

  .ai-landing-step-three-table
    .ai-landing-step-three-column.ai-landing-step-three-id {
    width: 60px;
  }

  .ai-landing-step-three-table
    .ai-landing-step-three-column.ai-landing-step-three-date {
    width: 80px;
  }

  .ai-landing-step-three-table
    .ai-landing-step-three-column.ai-landing-step-three-amount {
    width: 76px;
  }

  .ai-landing-step-three-table .ai-landing-step-three-column b,
  .ai-landing-step-three-table .ai-landing-step-three-column span {
    font-size: 11px;
    padding: 8px 10px;
  }

  .ai-landing-step-three-directions {
    top: calc(114px + 260px - 50px);
  }

  /* Ensure smooth transition during revert */
  .ai-landing-step-three-table .ai-landing-step-three-column span {
    transition: top 1s ease-in-out;
  }
}

/* md breakpoint */
@media (min-width: 768px) and (max-width: 1023px) {
  .ai-landing-step-three-content {
    width: 508px;
    height: 446px;
  }

  .ai-landing-step-three-table {
    width: 508px;
    height: 348px;
    max-width: 90%;
  }

  .ai-landing-step-three-header {
    width: 508px;
    max-width: 90%;
  }

  .ai-landing-step-three-table
    .ai-landing-step-three-column.ai-landing-step-three-id {
    width: 60px;
  }

  .ai-landing-step-three-table
    .ai-landing-step-three-column.ai-landing-step-three-date {
    width: 85px;
  }

  .ai-landing-step-three-table
    .ai-landing-step-three-column.ai-landing-step-three-amount {
    width: 80px;
  }

  .ai-landing-step-three-table .ai-landing-step-three-column b,
  .ai-landing-step-three-table .ai-landing-step-three-column span {
    font-size: 11px;
    padding: 8px 10px;
  }

  .ai-landing-step-three-directions {
    top: calc(114px + 348px - 30px);
  }

  @keyframes ai-landing-step-three-showActions {
    0% {
      width: 0px;
      opacity: 0;
    }
    100% {
      width: 70px;
      opacity: 1;
    }
  }
}

/* sm breakpoint */
@media (min-width: 480px) and (max-width: 767px) {
  .ai-landing-step-three-content {
    width: 508px;
    height: 446px;
  }

  .ai-landing-step-three-table {
    width: 508px;
    height: 348px;
    max-width: 90%;
  }

  .ai-landing-step-three-header {
    width: 508px;
    max-width: 90%;
  }

  .ai-landing-step-three-table
    .ai-landing-step-three-column.ai-landing-step-three-id {
    width: 60px;
  }

  .ai-landing-step-three-table
    .ai-landing-step-three-column.ai-landing-step-three-date {
    width: 85px;
  }

  .ai-landing-step-three-table
    .ai-landing-step-three-column.ai-landing-step-three-amount {
    width: 80px;
  }

  .ai-landing-step-three-table .ai-landing-step-three-column b,
  .ai-landing-step-three-table .ai-landing-step-three-column span {
    font-size: 11px;
    padding: 8px 10px;
  }

  .ai-landing-step-three-directions {
    top: calc(114px + 348px - 30px);
  }
}

/* xs breakpoint */
@media (max-width: 479px) {
  .ai-landing-step-three-content {
    width: 300px;
    height: 263px;
  }

  .ai-landing-step-three-table {
    width: 300px;
    height: 204px;
    max-width: 90%;
  }

  .ai-landing-step-three-header {
    width: 300px;
    max-width: 90%;
  }

  .ai-landing-step-three-table
    .ai-landing-step-three-column.ai-landing-step-three-id {
    width: 50px;
  }

  .ai-landing-step-three-table
    .ai-landing-step-three-column.ai-landing-step-three-date {
    width: 75px;
  }

  .ai-landing-step-three-table
    .ai-landing-step-three-column.ai-landing-step-three-amount {
    width: 70px;
  }

  .ai-landing-step-three-table .ai-landing-step-three-column b,
  .ai-landing-step-three-table .ai-landing-step-three-column span {
    font-size: 10px;
    padding: 6px 8px;
  }

  .ai-landing-step-three-directions {
    top: calc(114px + 204px - 30px);
  }

  @keyframes ai-landing-step-three-showActions {
    0% {
      width: 0px;
      opacity: 0;
    }
    100% {
      width: 60px;
      opacity: 1;
    }
  }
}

@keyframes ai-landing-step-three-directionUp {
  0% {
    transform: translateX(-50%) translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

@keyframes ai-landing-step-three-directionDown {
  0% {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(100%);
    opacity: 0;
  }
}

@keyframes ai-landing-step-three-showActions {
  0% {
    width: 0px;
    opacity: 0;
  }
  100% {
    width: 76px;
    opacity: 1;
  }
}

@keyframes ai-landing-step-three-showAdd {
  0% {
    transform: translateX(110%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes ai-landing-step-three-borderradius {
  0% {
    border-radius: 2px 12px 2px 2px;
  }
  100% {
    border-radius: 2px 2px 2px 2px;
  }
}

@keyframes ai-landing-step-three-hideActions {
  0% {
    width: 76px;
    opacity: 1;
  }
  100% {
    width: 0px;
    opacity: 0;
  }
}

@keyframes ai-landing-step-three-hideAdd {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(110%);
    opacity: 0;
  }
}

@keyframes ai-landing-step-three-borderradiusRevert {
  0% {
    border-radius: 2px 2px 2px 2px;
  }
  100% {
    border-radius: 2px 12px 2px 2px;
  }
}

.customer {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
