.ant-card.order-success {
    .main-title {
        font-weight: 700;
        margin-bottom: 8px;
    }

    @media screen and (max-width: 880px) {
        .ant-card-head {
            padding: 16px;
        }

        .head-title {
            font-size: 42px;
            white-space: pre-wrap;
            text-align: center;
        }
    }

    .title {
        font-weight: 700;
        font-size: 18px;
    }

    .card-footer {
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
        justify-content: center;
        color: #d8d8d8;
        opacity: 0.5;
        gap: 4px;

        @media screen and (max-width: 650px) {
            justify-content: start;
        }
    }

    .card-header {
        display: flex;
        align-items: center;
        gap: 24px;

        @media screen and (max-width: 650px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}
