.ant-table-wrapper .ant-table {
  border-radius: 8px;
}

.ant-table-wrapper .ant-table-tbody > tr:last-child > td:first-child {
  border-bottom-left-radius: 8px;
}

.ant-table-wrapper .ant-table-tbody > tr:last-child > td:last-child {
  border-bottom-right-radius: 8px;
}

.ant-pagination {
  display: flex;
  align-items: center;
}

.ant-table-pagination.ant-pagination {
  border-radius: 0px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.ant-pagination-total-text {
  margin-right: auto !important;
  font-size: 14px !important;
  margin-inline-end: auto !important;
}

.ant-col {
  height: 100%;
}

html[data-theme="dark"] {
  .ant-table-filter-dropdown {
    background-color: #000;
  }
}

::view-transition-group(root) {
  animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

.dark-transition::view-transition-old(root) {
  z-index: 1;
}

.dark-transition::view-transition-new(root) {
  z-index: 9999;
  animation: clip-path-reveal 0.6s forwards;
}

.light-transition::view-transition-old(root) {
  z-index: 1;
}

.light-transition::view-transition-new(root) {
  z-index: 9999;
  animation: clip-path-reveal 0.6s forwards;
}

@keyframes clip-path-reveal {
  0% {
    clip-path: circle(0px at var(--click-x, 50%) var(--click-y, 50%));
  }
  100% {
    clip-path: circle(150% at var(--click-x, 50%) var(--click-y, 50%));
  }
}
