.feedback-button {
  position: fixed;
  bottom: 20px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 160px;
}

.feedback-card {
  position: fixed;
  bottom: 60px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 181px;
}

.feedback-type-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
