.card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12.5%;
    border-radius: 12.5%;
    border: 1px solid var(--ifm-color-emphasis-200);
    transition: all 0.2s;
    text-align: center;
    background: var(--tutorial-card-bg);
    filter: grayscale(0);
}

.cardGray {
    filter: grayscale(0.95);
}

.cardSelected {
    background: var(--tutorial-card-bg-hover);
    box-shadow: 0px 0px 5px rgba(42, 42, 66, 0.25);
}

.card:hover {
    background: var(--tutorial-card-bg-hover);
    box-shadow: 4px 8px 16px rgba(42, 42, 66, 0.25);
}

.card span {
    user-select: none;
    margin-top: 8px;
    color: var(--ifm-font-color-base);
    font-weight: 700;
    font-family: "Montserrat";
}

.card img {
    object-fit: contain;
    padding: 12.5%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 12px;
}

.cardsSmall {
    max-width: 180px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(28px, 1fr));
    gap: 4px;
}