/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #25c2a0;
    --ifm-color-primary-dark: rgb(33, 175, 144);
    --ifm-color-primary-darker: rgb(31, 165, 136);
    --ifm-color-primary-darkest: rgb(26, 136, 112);
    --ifm-color-primary-light: rgb(70, 203, 174);
    --ifm-color-primary-lighter: rgb(102, 212, 189);
    --ifm-color-primary-lightest: rgb(146, 224, 208);
    --ifm-code-font-size: 95%;
    --ifm-navbar-background-color: var(--color-purple);
    --ifm-navbar-height: 64px;
    --ifm-menu-color-background-active: rgba(255, 255, 255, 0.05);
    --ifm-menu-color-background-hover: rgba(255, 255, 255, 0.05);
    --color-purple: #331049;
    --color-turquoise: #0ccee9;
    --color-blue: #0b82f0;
    --color-text-white: white;
    --color-text-black: #1c1e21;
    --color-bg-white: white;
    --ifm-navbar-sidebar-width: 100%;
}

.img-container {
    display: flex;
    flex-direction: column;
    border-radius: 6.4px;
    overflow: auto;
    box-shadow: var(--ifm-alert-shadow);
}

.window {
    display: flex;
    align-items: center;
    padding: 0px 16px;
    background: #292d3e;
    height: 32px;
}

.window .control {
    width: 16px;
    height: 16px;
    border-radius: 999px;
}

.window .control:nth-child(2),
.control:nth-child(3) {
    margin-left: 8px;
}

.window .control.red {
    background: rgb(230, 54, 54);
}

.window .control.orange {
    background: rgb(217, 119, 6);
}

.window .control.green {
    background: rgb(5, 150, 105);
}

@media screen and (max-width: 650px) {
    .window {
        height: 16px;
    }

    .window .control {
        width: 8px;
        height: 8px;
    }

    .window .control:nth-child(2),
    .control:nth-child(3) {
        margin-left: 4px;
    }
}

.docusaurus-highlight-code-line {
    background-color: rgb(72, 77, 91);
    display: block;
    margin: 0 calc(-1 * var(--ifm-pre-padding));
    padding: 0 var(--ifm-pre-padding);
}

.required {
    font-size: 13px;
    border-radius: 3px;
    border-style: solid;
    border-color: #fa5035;
    color: #fa5035;
    border-width: 1px;
    letter-spacing: 0.02rem;
    margin-right: 0;
    padding: 0 6px;
    display: inline-block;
    margin-left: 5px;
}

.deprecated {
    font-size: 13px;
    border-radius: 3px;
    border-style: solid;
    border-color: orange;
    color: orange;
    border-width: 1px;
    letter-spacing: 0.02rem;
    margin-right: 0;
    padding: 2px 6px;
    display: inline-block;
    margin-left: 5px;
}

.deprecated--block {
    font-size: 13px;
    border-radius: 3px;
    border-style: solid;
    border-color: orange;
    color: orange;
    border-width: 1px;
    letter-spacing: 0.02rem;
    margin-right: 0;
    padding: 2px 6px;
    display: inline-block;
    margin: 0 0 10px 0;
    word-break: keep-all;
}

.deprecated::before,
.deprecated--block::before {
    content: "⚠️ deprecated";
    color: orange;
    margin-right: 4px;
}

.required-block {
    display: flex;
    align-items: center;
}

.footer__links {
    margin-bottom: 20px;
}

.footer__col:first-child {
    flex: 2;
}

.footer__col:first-child .footer__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer__col:first-child .footer__items .footer__item {
    flex-basis: 50%;
}

@media screen and (max-width: 966px) {
    .footer__link-item {
        font-size: 14px;
    }
}

.language-js {
    font-size: 9px;
}

.required {
    border-radius: 3px;
    border-style: solid;
    border-color: #fa5035;
    color: #fa5035;
    border-width: 1px;
    letter-spacing: 0.02rem;
    margin-right: 0;
    padding: 0 6px;
    display: inline-block;
    margin-left: 5px;
}

/* Common */
.row--justify--center {
    justify-content: center;
}

.row--align--center {
    align-items: center;
}

/* Header classes */
.navbar__brand {
    margin-left: 8px;
}

.navbar__link {
    font-weight: 600;
}

.navbar__toggle {
    color: var(--color-text-white);
}

.navbar-sidebar__brand {
    justify-content: space-between;
    box-shadow: none;
}

.navbar-sidebar__items .menu__list .menu__link {
    color: var(--color-text-white);
}

.navbar-sidebar__items .menu__list .menu__link.menu__link--sublist::after {
    filter: invert(100%) sepia(94%) saturate(17%) hue-rotate(223deg)
        brightness(104%) contrast(98%);
}

.navbar-sidebar__back {
    color: var(--color-text-white);
}

.header-last-nav-item {
    margin-right: 30px;
}

.header-icon-link {
    transition: 0.5s;
}

.header-icon-link:hover {
    /* filter: brightness(2); */
}

.header-icon-link::before {
    content: "";
    display: flex;
    height: 24px;
    width: 24px;
}

.header-github-link::before {
    background: url("/icons/github.svg");
    background-size: contain;
}

.header-discord-link::before {
    background: url("/icons/discord.svg");
    background-size: contain;
}

.header-twitter-link::before {
    background: url("/icons/twitter.svg");
    background-size: contain;
}

/* Code Renderer Styles */

.pre {
    text-align: left;
    margin: 1em 0;
    padding: 0.5em;
    overflow: auto;
}

.pre .token-line {
    line-height: 1.3em;
    height: 1.3em;
}

.code-line {
    display: table-row;
}

.code-line-no {
    display: table-cell;
    text-align: right;
    padding-right: 1em;
    user-select: none;
    opacity: 0.5;
}

.code-line-content {
    display: table-cell;
}

[class^="announcementBar"] {
    border: none !important;
}

.tutorial-cards {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.tutorial-cards > a {
    width: 100%;
}

.tutorial-cards-center {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.tutorial-cards-center > a {
    width: 50%;
}

@media (max-width: 425px) {
    .tutorial-cards {
        flex-direction: column;
    }
    .tutorial-cards-center > a {
        width: 100%;
    }
}

/* Antd Sider Issue Fix */
.ant-layout-sider-trigger {
    position: sticky !important;
}

.markdown .live-editor-wrapper li + li {
    margin-top: 0;
}

.live-editor-wrapper table th,
.live-editor-wrapper table td {
    border: none;
}

.live-editor-wrapper table tr:nth-child(2n) {
    background: none;
}

.code-block-hidden,
.code-block-hidden.theme-code-block-highlighted-line {
    display: none;
}

.with-hoverline .hoverline-link {
    @apply relative;
}

.with-hoverline .hoverline-link:hover::after,
.with-hoverline .navbar__link--active::after {
    content: "";
    @apply absolute bottom-[-5px] left-[calc(50%-12px)] h-1 w-6 rounded-sm bg-[#1890ff] transition-opacity duration-200 ease-in-out;
}

.refine-docsearch-button {
    @apply flex h-7 w-7 cursor-pointer appearance-none items-center justify-between rounded-2xl border-none bg-[#f6f6f9] px-2 py-0 md:w-[196px] md:px-3;
}

.refine-docsearch-button .DocSearch-Button-Placeholder {
    @apply font-montserrat text-xs font-semibold text-[#2A2A42];
}

.refine-docsearch-button .DocSearch-Search-Icon {
    @apply -mt-px h-3 w-3 stroke-[2px];
}

.refine-docsearch-button .DocSearch-Button-Keys {
    @apply w-auto min-w-0;
}

.refine-docsearch-button .DocSearch-Button-Keys kbd {
    background: none;
    @apply font-montserrat text-xs font-semibold text-[#2A2A42];
    @apply mr-0 h-auto w-auto appearance-none border-0 border-none bg-transparent pb-0 pt-0.5 shadow-none;
}

.refine-docsearch-button .DocSearch-Button-Keys kbd:last-child::before {
    position: relative;
    display: block;
    content: "+";
}

.navbar-sidebar__item.menu .menu__list {
    padding-left: 0;
}

.navbar-sidebar__item.menu .menu__list .menu__list-item .menu__link {
    @apply font-montserrat block text-center font-semibold text-[#2a2a42];
}

.theme-doc-sidebar-item-category.menu__list-item {
    @apply opacity-90;
}

#__docusaurus .navbar-sidebar__items--show-secondary {
    transform: translate3d(calc(100% * -1), 0, 0);
}

#__docusaurus
    .navbar-sidebar__items
    .menu__list
    .menu__link.menu__link--sublist::after {
    display: block;
    position: relative;
    margin-top: -20px;
    filter: none;
}

#__docusaurus
    .navbar-sidebar__items
    .menu__list
    .menu__link.menu__link--sublist[role="button"]::after {
    bottom: unset;
    margin-top: 0;
    top: -26px;
    left: unset;
    height: 24px;
    width: 24px;
    background-color: transparent;
}

#__docusaurus .menu__link.menu__link--sublist[role="button"] {
    height: 40px;
}

#__docusaurus .clean-btn.navbar-sidebar__back {
    @apply font-montserrat mb-4 text-center font-semibold text-[#2a2a42];
}

#__docusaurus .navbar-sidebar__item.menu a[href="https://github.com/pankod/refine"]::after
{
    display: none;
}

#__docusaurus .social-icons .header-icon-link::before {
    width: 32px;
    height: 32px;
}

#__docusaurus .navbar-sidebar__items .with-hoverline .menu__link--active {
    position: relative;
}

#__docusaurus
    .with-hoverline
    .navbar-sidebar__items
    .menu__link--active::before {
    content: "";
    @apply absolute bottom-[-5px] left-[calc(50%-12px)] h-1 w-6 rounded-sm bg-[#1890ff] transition-opacity duration-200 ease-in-out;
}

#__docusaurus .with-hoverline .active-item::before {
    content: "";
    @apply absolute bottom-[-5px] left-[calc(50%-12px)] h-1 w-6 rounded-sm bg-[#1890ff] transition-opacity duration-200 ease-in-out;
}

#__docusaurus .with-hoverline .navbar-sidebar__items .menu__link--active {
    position: relative;
}

.with-hoverline .active-item.hoveline-link {
    @apply relative;
}

#__docusaurus .menu__link--active:not(.menu__link--sublist) {
    background-color: transparent;
}

.navbar .navbar__items .navbar__item {
    @apply hidden xl:inline-block;
}

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

#__docusaurus .main-wrapper {
    padding-top: 64px;
}

#__docusaurus .text-color-base {
    color: var(--ifm-font-color-base);
}

#__docusaurus .blog-post-item-shadow {
    box-shadow: 6px 8px 16px rgba(42, 42, 66, 0.4);
}

#__docusaurus .pagination-item {
    @apply flex h-8 w-8 items-center justify-center rounded-lg border border-solid border-gray-200 leading-tight transition duration-200 ease-in-out hover:border-[#1890FF] hover:text-[#1890FF];
    color: var(--ifm-font-color-base);
}

#__docusaurus .pagination-item.disabled {
    @apply cursor-not-allowed text-gray-200 hover:border-gray-200 hover:text-gray-200;
}

#__docusaurus .pagination-item.active {
    @apply border-[#1890FF] text-[#1890FF];
}

#__docusaurus .dots {
    @apply h-8 cursor-default border-none;
}

#__docusaurus .custom-table-of-contents .table-of-contents {
    @apply pl-0;
    border: 1px solid var(--ifm-toc-border-color);
}

#__docusaurus .example-active-lineer-gradient-button {
    @apply text-white;
    background: linear-gradient(90deg, #3fdcf7 2.01%, #1890ff 99.51%);
}

#__docusaurus .example-active-lineer-gradient-button a {
    @apply bg-transparent;
}

#__docusaurus .example-lineer-gradient-button:hover {
    background: linear-gradient(90deg, #3fdcf7 2.01%, #1890ff 99.51%);
}

#__docusaurus .example-lineer-gradient-button:hover a {
    @apply bg-transparent;
}

#__docusaurus .example-lineer-gradient-button:hover .export-icon {
    background: #1373cc;
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.25);
}
