.container {
    padding: 1rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);

    .date {
        margin-bottom: .25rem;
    }

    .icon {
        display: inline-block;
        width: .3rem;
        height: .3rem;
        border-radius: 50%;
        margin-right: .7rem;
    }
    
    .title {
        padding-left: 1rem;
    }
}