.promotional-wrapper {
    display: flex;
    margin: 0 0 24px 72px;
    justify-content: space-between;
    align-items: center;

    .ant-typography {
        color: white !important;

        &.title {
            font-size: 76px;
            line-height: 65px;
            font-weight: 700;
            margin-bottom: 10px;
        }

        &.subtitle {
            font-size: 33px;
            line-height: 36px;
            font-weight: 400;
        }
    }

    .text-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .explore-button {
            margin-top: 43px;
            width: 312px;
            height: 64px;
            border-radius: 8px;
            background: @finefoods-red;
            border-color: @finefoods-red;
        }
    }
}

@media screen and (max-width: 768px) {
    .promotional-wrapper {
        margin-left: 0;
        flex-direction: column;

        .ant-typography {

            &.title {
                font-size: 40px;
                line-height: 36px;
            }

            &.subtitle {
                font-size: 18px;
            }
        }

        .text-wrapper {
            margin-bottom: 18px;

            .explore-button {
                display: none;
            }
        }
    }
}
