.ant-card.main-card {
    border-radius: 48px;
    padding: 64px;

    @media screen and (max-width: 1200px) {
        padding: 48px;
    }

    @media screen and (max-width: 768px) {
        padding: 32px;
    }
}

.ant-card.image-card {
    padding: 0px;
    border-radius: 48px;

    .ant-card-head {
        padding: 48px;
        background-size: cover;
        background-position: center;
        border-top-left-radius: 48px;
        border-top-right-radius: 48px;
    }

    .head-title {
        color: white;
        font-size: 54px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 0px;
    }
}
