{
  "env": { "browser": true, "es6": true },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "simple-import-sort", "import"],
  "extends": ["plugin:@typescript-eslint/recommended", "prettier"],
  "rules": {
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          ["^react"],
          ["^@refine"],
          ["^@?\\w"],
          ["^"],
          ["^\\."],
          ["^\\u0000"]
        ]
      }
    ],
    "simple-import-sort/exports": "error",
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error"
  }
}
