.main {
    background-color: #282c34;
    color: #ffffff;
    text-align: center;
    padding: 2rem 0;
}
.main > h1 {
    color: #ffffff;
    font-size: 2.875rem;
}

.main > p {
    font-size: 1.125rem;
}
