/*
Hide color mode toggle in small viewports
 */
@media (max-width: 996px) {
  .colorModeToggle {
    margin-left: -72px;
    margin-right: 36px;
  }
}
@media (min-width: 768px) and (max-width: 996px) {
  .colorModeToggle {
    margin-left: calc(162px * -2);
    margin-right: 162px;
  }
}
