.container {
    .category {
        padding: 0.5rem 0;
        border-bottom: 1px solid rgb(0, 0, 0, 0.06);
        .checkbox {
            margin-right: 0.5rem;
        }
    }
    .category:last-child {
        border-bottom: none;
    }
}
