.countries {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem 2rem;

    .item {
        padding: 0.75rem 0;
        border-bottom: 1px solid #f1f1f1;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .flag {
            width: 30px;
            margin-right: 0.5rem;
        }
    }

    .item:last-child {
        border-bottom: none;
    }
}