.countries {
    position: absolute;
    width: 100%;
    bottom: 24px;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    gap: 16px;

    .item {
        display: flex;
        padding: 5px 8px;
        align-items: center;
        gap: 8px;
        border-radius: 4px;
        background: #f5f5f5;

        .flag {
            width: 14px;
        }
    }
}
