@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer components {
    .content-container {
        @apply mx-auto w-full max-w-[1440px] px-8;
    }

    .contrast-btn {
        @apply rounded-full border border-black px-4 py-2 transition-colors duration-200 ease-in hover:bg-black hover:text-white;
    }

    .text-xsmall-regular {
        @apply text-[10px] font-normal leading-4;
    }

    .text-small-regular {
        @apply text-xs font-normal leading-5;
    }

    .text-small-semi {
        @apply text-xs font-semibold leading-5;
    }

    .text-base-regular {
        @apply text-sm font-normal leading-6;
    }

    .text-base-semi {
        @apply text-sm font-semibold leading-6;
    }

    .text-large-regular {
        @apply text-base font-normal leading-6;
    }

    .text-large-semi {
        @apply text-base font-semibold leading-6;
    }

    .text-xl-regular {
        @apply text-2xl font-normal leading-[36px];
    }

    .text-xl-semi {
        @apply text-2xl font-semibold leading-[36px];
    }

    .text-2xl-regular {
        @apply text-[30px] font-normal leading-[48px];
    }

    .text-2xl-semi {
        @apply text-[30px] font-semibold leading-[48px];
    }

    .text-3xl-regular {
        @apply text-[36px] font-normal leading-[48px];
    }

    .text-3xl-semi {
        @apply text-[36px] font-semibold leading-[48px];
    }
}
