@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,body,#root {
    height: 100%;
    width: 100%;
}

#root {
    min-width: 640px;
    min-height: 360px;
}