@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

html,
body,
#root {
    height: 100%;
    width: 100%;
    background-color: #14141f;
}

#root {
    min-width: 640px;
    min-height: 360px;
}

.trace-list {
    /*  */
}
.trace-list .trace-item {
    position: relative;
}

.trace-list .trace-item {
    border-right-width: 0;
    border-left-width: 0;
    flex-shrink: 0;
}

.trace-list .trace-item:first-of-type {
    border-left-width: 1px;
}

.trace-list .trace-item:last-of-type {
    border-right-width: 1px;
}

.trace-list .trace-item::after {
    content: "";
    position: absolute;
    right: -4px;
    top: 0;
    width: 16px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='26' viewBox='0 0 9 26' fill='none'%3E%3Cpath d='M1 1L7.5208 10.7812C8.41653 12.1248 8.41653 13.8752 7.5208 15.2188L1 25' stroke='%23303450'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
}

.trace-list .trace-item:last-of-type::after {
    display: none;
}

.monitor-table-row:hover {
    background-color: #f7f7f7;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}
