.section {
    background-image: url("/landing-page/background.png");
    background-color: var(--color-purple);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 64px 0px;
    color: var(--color-text-white);
}

.row {
    text-align: center;
    margin-bottom: 24px;
}

.arrowCol {
    align-self: center;
}

.screen {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width: 996px) {
    .arrowImg {
        transform: rotateZ(90deg);
    }

    .arrowCol {
        margin: 20px 0px;
    }
}

.title {
    font-size: 36px;
    font-weight: 600;
    color: var(--color-turquoise);
    text-align: center;
    margin-top: 24px 0px;
}

.description {
    font-size: 20px;
    margin-bottom: 8px;
}

.listContainer {
    display: flex;
    gap: 16px;
    margin-top: 24px;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 555px) {
    .listContainer {
        flex-wrap: wrap;
    }
}

.orderList {
    font-weight: 700;
    font-size: 24px;
    color: var(--color-turquoise);
    margin-bottom: 0;
}

.orderList li {
    padding-left: 5px;
}

.box {
    position: relative;
    background-color: var(--color-turquoise);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 15px 15px 25px;
    border-radius: 5px;
    max-width: 500px;
}

.box p {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 0px;
}

.box::before {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 10px solid var(--color-purple);
}
