.login-card {
    max-width: 400px;
    margin: auto;
}

.signup-section {
    text-align: center;
    padding: 10px 0px;
}

.login-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.login-background {
    background-color: #eff7f7;
}
