.button {
    appearance: button;
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
    padding: 0.25rem 0.65rem;
    border-radius: 0.15rem;
    border: 1px solid #282c34;
}

.button:hover {
    color: initial;
    text-decoration: none;
}
