.daily-revenue-wrapper {
    height: 232px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-area {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.title-area > .amount {
    display: flex;
    flex-direction: column;
}
.title-area > .amount h3 {
    color: #ffffff;
    margin-bottom: 0;
}
.title-area > .amount span {
    color: #ffffff;
}
.title-area > .amount > .number {
    display: flex;
    align-items: center;
    line-height: 1;
}
.title-area > .amount > .number > img {
    margin-left: 5px;
}

.range-picker {
    height: 35px;
}

.range-picker > .ant-picker-input > input {
    color: #ffffff !important;
}

.range-picker .ant-picker-separator,
.range-picker .ant-picker-suffix {
    color: #ffffff;
}

@media screen and (max-width: 576px) {
    .title-area > .amount span {
        font-size: 16px !important;
        line-height: 1.2;
    }

    .title-area > .amount > .number > span {
        font-size: 30px !important;
    }
}
