.title-area {
    display: flex;
    justify-content: space-between;
}
.title-area > .amount {
    display: flex;
    flex-direction: column;
    line-height: 1;
}
.title-area > .amount > span {
    color: #ffffff;
}
