.title-area {
    display: flex;
    justify-content: space-between;
}
.title-area > .amount {
    display: flex;
    flex-direction: column;
}
.title-area > .amount span {
    color: #ffffff;
}
.title-area > .amount > .number {
   display: flex;
   align-items: center;
   line-height: 1;

}
.title-area > .amount > .number > img {
  margin-left: 5px;
}

.range-picker {
    height: 35px;
}

.range-picker > .ant-picker-input > input {
    color:#ffffff !important;
}

.range-picker .ant-picker-separator, .range-picker .ant-picker-suffix {
    color: #ffffff;
}
