name: Lint & Test & Build [Push]

on: 
  push:
    tags-ignore:
      - "*"
    branches:
      - "*"


jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
    - uses: actions/checkout@v1
    - name: Cache node modules
      uses: actions/cache@v2
      env:
        cache-name: cache-node-modules
      with:
        path: ~/.npm
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install, build
      run: |
        npm install
        npm run bootstrap
        npm run build
        npm run lint
        npm run test:coverage
    - name: npm test & publish code coverage
      uses: paambaati/codeclimate-action@v2.7.5
      #if: github.ref == 'refs/heads/master'
      if: 1 == 0
      env:
        CC_TEST_REPORTER_ID: ${{ secrets.TEST_REPORTER_ID }}
      with:
        coverageLocations: |
          ${{github.workspace}}/packages/**/coverage/lcov.info:lcov



