name: npm Publish [released]

on:
  release:
    types: [released]

jobs:
  publish-npm:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: https://registry.npmjs.org/
      - run: |
          npm ci
          npm run bootstrap
          npm run build
          npm run lint
          npm test
          npm run lerna publish from-package -- --yes
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}